@keyframes slideInFromBottom {
    0% {
        transform: translate(-50%, 0%) rotate(180deg) scale(0.8);
        opacity: 0%;
    }
    100% {
        transform: translate(-50%, -50%) rotate(180deg) scale(1);
        opacity: 100%;
    }
}

@keyframes theWeddingOf {
    0% {
        transform: translate(-50%, 0%) scale(0.8);
        opacity: 0%;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 100%;
    }
}



.container {
    position: relative;
    text-align: center;
    color: white;
    height: 100vh;
    width: 100vw;
}

.coverPicture {
    position: absolute;
    width: 100%;
    height: 100%;
}

.theWeddingOf {
    position: absolute;
    /* background-color: red; */
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
    animation: 1s ease-out 0s 1 theWeddingOf;

}

.names {
    position: absolute;
    /* background-color: red; */
    transform: translate(-50%, -50%);
    top: 18%;
    left: 50%;
    animation: 1s ease-out 0s 1 theWeddingOf;

}

.datetime {
    position: absolute;
    /* background-color: red; */
    transform: translate(-50%, -50%);
    top: 27%;
    left: 50%;
    animation: 1s ease-out 0s 1 theWeddingOf;

}

.button {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -10px;
    left: 50%;
    background-color: orange;
    padding-block: 18px;
    padding-inline: 20px;
    min-width: 180px;
    color: black;
    animation: 2s ease-in-out 0s 1 slideInFromBottom;

}

.button:hover {
    background-color: rgb(194, 127, 4);
}

.flower1 {
    position: fixed;
    /* background-color: red; */
    transform: translate(-50%, -50%) rotate(180deg);
    bottom: -220px;
    left: 50%;
    min-width: 900px;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}