.container {
    position: relative;
    text-align: center;
    width: 100vw;
}

.text {
    color: white;
}

.dalil {
    min-width: 280px;
    max-width: 350px;
    margin: auto;
}

.imgContainer {
    position: relative;
    height: 200vh;
}
