@keyframes theWeddingOf {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}


.button {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -10px;
    left: 50%;
    background-color: orange;
    padding-block: 18px;
    padding-inline: 20px;
    min-width: 180px;
    color: black;

    animation: 1s ease-in-out 0s 1 theWeddingOf;
}

.button:hover {
    background-color: rgb(194, 127, 4);
}